<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am a PhD student at School of Computing, National University of Singapore, under supervision of Associate Professor <a href="https://www.comp.nus.edu.sg/~chinwn/">Chin Wei-Ngan</a>. My interests are program verification, software analysis and separation logic.</p>
    <!-- <p>. You can <a href="#" target="_blank">download this free resume/CV template here</a>. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p> -->
</div><!--//summary-->
</section><!--//section-->
