<section class="section others-section">
    <h2 class="section-title"><i class="fa fa-pencil"></i>Others</h2>

    <ul>
        <li>External reviewer: OOPSLA 16, VMCAI 2017, CAV 2017, CAV 2018, CAV 2019</li>
        <li>Attendant of <a href
                            ="http://cavconference.org/2017/verification-mentoring-workshop/">Verification
            Mentoring Workshop </a>(Heidelberg, 2017).</li>
        <li>Attendant of <a href ="http://ias.huji.ac.il/CSE2">the IIAS Winter School on Formal Verification </a>(Jerusalem, 2017).</li>
    </ul>

</section><!--//section-->
