<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

    <!-- <div class="intro">
         <p>List of my projects.</p>
         </div> -->

    <div class="item">
        <span class="project-title"><a
                                        href="https://songbird-prover.github.io/">Songbird</a></span>
        - <span class="project-tagline">An automated inductive theorem prover for separation logic</span>
    </div>

                <div class="item">
                    <span class="project-title"><a href="http://loris-5.d2.comp.nus.edu.sg/hip/index.html">HIP/SLEEK</a></span> - <span class="project-tagline">An automatic verification system for heap manipulating programs</span>
                </div>

                <div class="item">
                    <span class="project-title"><a href="http://loris-5.d2.comp.nus.edu.sg/fixpoint/index.html">Fixpoint</a></span> - <span class="project-tagline">A fixpoint caculator</span>
                </div>


</section><!--//section-->
