<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

                <!-- <div class="intro">
                     <p>List of my projects.</p>
                     </div> -->


                <div class="item">
                    <span class="project-title"><a href="http://loris-5.d2.comp.nus.edu.sg/hip/index.html">HIP/SLEEK</a></span> - <span class="project-tagline">An automatic verification system for heap manipulating programs</span>
                </div>

                <div class="item">
                    <span class="project-title"><a href="http://loris-5.d2.comp.nus.edu.sg/fixpoint/index.html">Fixpoint</a></span> - <span class="project-tagline">A fixpoint caculator</span>
                </div>


                <!-- <div class="item">
                     <span class="project-title"><a href="#" target="_blank">DevStudio</a></span> - 
                     <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
                     </div> -->

                <!-- <div class="item">
                     <span class="project-title"><a href="#" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                     </div>
                   -->

                <!-- <div class="item">
                     <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                     </div>

                     <div class="item">
                     <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                     /div>
                   -->
</section><!--//section-->
