<section class="section publication-section">
    <h2 class="section-title"><i class="fa fa-book"></i>Publications</h2>

    <ul>
        <li>Thanh-Toan Nguyen, Quang-Trung Ta, and Wei-Ngan Chin.<a href="papers/VMCAI19.pdf">
            Automatic Program Repair using Formal Verification and Expression Templates</a>
             In VMCAI, 2019.</li>

        <li>Xuan-Bach Le, Thanh-Toan Nguyen, Wei-Ngan Chin, and Aquinas Hobor.
    <a href
    ="papers/icfem17.pdf">A
    Certified Decision Procedure for Tree Shares</a>. In ICFEM, 2017.</li>
    </ul>

</section><!--//section-->
